.container{
    display: grid;
    justify-content: center;
    place-content: center;
    background-color: rgb(128, 128, 114);
}


.mainAuth{
    width: 50vw;
}

@media(max-width:600px){
    .mainAuth{
        width: 100vw;
    }
}
