.Home{
    position: absolute;
    display: flex;
    /* margin-left: 250px; */
    /* grid-template-columns: 60rem 20rem; */
    /* gap: 1rem; */
    /* min-height: fit-content; */
    /* overflow-y: scroll; */
    /* height: 100vh; */
    /* top: 1000%; */
    overflow-y: scroll;
    /* height: fit-content; */
}

@media(max-width:600px){
    .sugg{
        display: none;
    }
}

